.testimonial-section {
  height: 30em;
}
.carousel-indicator {
  background-color: #c51618 !important;
}
.testimonial-content {
  font-family: "Playfair Display", serif;
  font-style: italic;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  color: #696969;
}
.testimonial-title {
  letter-spacing: 0.1em;
  font-weight: 900;
  font-family: "Alata", sans-serif;
  color: #392a25;
}
.testimonial-user{
    font-family: "Alata", sans-serif;
    letter-spacing: 0.1em;
    font-size: 1em;
    text-transform: uppercase;
    color: #333;
    font-weight: 700;
}

.testimonial-rating{
    color:#f4cb3d;
    letter-spacing: 0.1em;
}